services:
  - type: web
    name: regime-vol-forecaster
    runtime: python
    region: frankfurt
    plan: free

    buildCommand: pip install -r src/render_packages.txt

    startCommand: gunicorn src.app:app --bind 0.0.0.0:$PORT --timeout 1200 --workers 1

    healthCheckPath: /

    autoDeploy: true

    envVars:
      - key: PYTHONUNBUFFERED
        value: "1"
      - key: FLASK_ENV
        value: production